<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: ticketmagpie-head">
</head>
<body class="no-sidebar">
<div id="page-wrapper">

    <div th:replace="fragments :: ticketmagpie-header">
    </div>

    <!-- Features 1 -->
    <div class="wrapper">
        <div class="container">
            <header>
                <h2><span th:text="${status}"></span> - <span th:text="${error}"></span></h2>
                <i th:text="${message}"></i>
            </header>
            
            <h3>Trace</h3>
            <pre th:text="${trace}">No Trace</pre><p> </p>
            
            <h3>Session Attributes</h3> 
            <p>
                <span th:each="name : ${#ctx.getSessionAttributes().keySet()}">
                    <b th:text="${name}"></b>: <code th:text="${#ctx.getSessionAttributes().get(name)}"></code><br />
                </span>
            </p>
            
            <h3>Application/Context Attributes</h3>
            <p>
                <span th:each="name : ${#ctx.getApplicationAttributes().keySet()}">
                    <b th:text="${name}"></b>: <code th:text="${#ctx.getApplicationAttributes().get(name)}"></code><br />
                </span>
            </p>
            
            <h3>Java Properties</h3>
            <p>
                <span th:each="name : ${properties.keySet()}">
                    <b th:text="${name}"></b>: <code th:text="${properties.get(name)}"></code><br />
                </span>
            </p>
            
            <h3>Environment Variables</h3>
            <p>
                <span th:each="name : ${env.keySet()}">
                    <b th:text="${name}"></b>: <code th:text="${env.get(name)}"></code><br />
                </span>
            </p>
        </div>
    </div>

    <div th:replace="fragments :: ticketmagpie-footer">
    </div>

</div>

<!-- Scripts -->

<span th:replace="fragments :: ticketmagpie-scripts"></span>

</body>
</html>
